{% extends 'portdata/base.html' %}

{% block content %}
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fileUpload">Import Data
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="fileUpload" tabindex="-1" role="dialog" aria-labelledby="fileUploadLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadLabel">Import Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input id="uploadfiles" type="file" , name="uploadfiles" , accept=".csv" , multiple/>
                    <input type="submit" value="Upload"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <table id="datatable" class="table table-striped table-bordered" data-server-side="true"
           data-ajax="/api/data/?format=datatables">
        <thead>
        <tr>
            <th data-data="product">Product</th>
            <th data-data="quantity">Quantity</th>
            <th data-data="unit">Unit</th>
            <th data-data="item_rate_inv">ITEM_RATE_INV</th>
            <th data-data="currency">Currency</th>
            <th data-data="total_amount">Total_Amount_INV_FC</th>
            <th data-data="fob_inr">FOB INR</th>
            <th data-data="item_rate_inr">ITEM RATE INR</th>
            <th data-data="fob_usd">FOB USD</th>
            <th data-data="foreign_port">Foreign Port</th>
            <th data-data="foreign_country">Foreign Country</th>
            <th data-data="india_port">Indian Port</th>
            <th data-data="india_company">Indian Company</th>
            <th data-data="foreign_company">Foreign Company</th>
            <th data-data="invoice_number">INVOICE_NO</th>
            <th data-data="hs_code">Hs Code</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>ITEM_RATE_INV</th>
            <th>Currency</th>
            <th>Total_Amount_INV_FC</th>
            <th>FOB INR</th>
            <th>ITEM RATE INR</th>
            <th>FOB USD</th>
            <th>Foreign Port</th>
            <th>Foreign Country</th>
            <th>Indian Port</th>
            <th>Indian Company</th>
            <th>Foreign Company</th>
            <th>INVOICE_NO</th>
            <th>Hs Code</th>
        </tr>
        </tfoot>
    </table>
</div>

{% endblock %}